// *****************
// Colors
// *****************
$dark-color: #2b2b2b;
$light-color: snow;
$primary-color: teal;

// *****************
// Breakpoints
// *****************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
