<footer>
	<div class="container">
	  <div class="row">
			<div class="col-lg-2">
	      Logo
	    </div>
	    <div class="col-lg-2">
	      <p class="p-detail muted">Contact</p>
				<ul class="footer-nav">
					<li><a href="">Email us</a></li>
					<li><a href="">Call us</a></li>
				</ul>
	    </div>
			<div class="col-lg-2">
	      <p class="p-detail muted">About</p>
				<ul class="footer-nav">
					<li><a href="">About us</a></li>
					<li><a href="">The team</a></li>
					<li><a href="">Our studio</a></li>
				</ul>
	    </div>
			<div class="col-lg-2">
	      <p class="p-detail muted">Products</p>
				<ul class="footer-nav">
					<li><a href="">Nyuma</a></li>
					<li><a href="">LibertyCap</a></li>
					<li><a href="">Gluteno</a></li>
				</ul>
	    </div>
			<div class="col-lg-2">
	      <p class="p-detail muted">Resources</p>
				<ul class="footer-nav">
					<li><a href="">Brand Guidelines</a></li>
					<li><a href="">Press Pack</a></li>
					<li><a href="">Assets</a></li>
				</ul>
	    </div>
			<div class="col-lg-2">
	      News
	    </div>
	  </div>
	</div>
</footer>
