<header>
  <div class="container">
    <nav class="nav">
    	<ul>
        <li><a href="#">Logo</a></li>
        <ul>
        {% for item in site.menus.header %}
          <li class="menu-item-{{ loop.index }}">
            <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
          </li>
        {% endfor %}
        </ul>
    	</ul>
    </nav>
    <nav class="mobile-nav">
      <div id="logo">Logo</div>
      <button id="mobnavicon" class="hamburger hamburger--squeeze" type="button">
      	<span class="hamburger-box">
      		<span class="hamburger-inner"></span>
      	</span>
      </button>
    </nav>
  </div>
</header>
