<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Website Description">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ page.title }} | {{ site.title }}</title>
		<meta name="description" content="{{ site.description }}"/>
		<link rel="shortcut icon" type="image/png" href="#" />
		<!--STYLESHEETS-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
  <body>
		<!--SCRIPTS-->
	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script type='text/javascript' src='/assets/js/bundle.js'></script>
		<!--SITE CONTENT-->
	  {% include header.html %}
	    {{ content }}
	  {% include footer.html %}
  </body>
</html>
